<html>
  <head>
    <title>Transition Table to DFA</title>
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"}}"  >
  </head>
  <body>
    <h1>Transition Table to DFA</h1>
    <div id="container">
      <form action="/transitionTable" method="post">
        <div id="alphabetContainer">
          <label for="alphabets"><h2>Enter Alphabets</h2></label>
          <input type="text" id="alphabets" name="alphabets" placeholder="Enter Alphabets"/>
          <button id="alphabetBtn" type="button">Procced</button>
        </div>
        <div id="confirmedAlphabet">
        </div>
        <table id="stateTable">
          
        </table>
        <div id="statesInput">
        </div>
      </form>
    </div>
    <div>{{table|safe}}</div>
    <script src={{url_for("static", filename="index.js")}}></script>
  </body>
</html>