.dfa-body{
  display: flex;
  /* background: #ccc; */
  /* background: red; */
}

.container{
  flex: 2;
  margin: 10px;
  displa: flex;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}

.diagram-container{
  margin: 10px
}

.container:nth-child(0){
  flex: 1
}

table{
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px
}

th{
  text-align: center;
  /* text-decoration: capti; */
}

th td:nth-child(1){
  display: none;
}

tr td:nth-child(1){
  display: none;
}

td{
  /* flex: 1; */
  width: 70px
}

input{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
button{
  margin-left:10px;
  background-color: purple;
  /* border: none; */
  border: 0.5px solid rgba(0,0,0,0.5);
  outline: none;
  border-radius: 10px;
  padding: 15px 10px;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}